<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Lord Of the Rings API">
    <test name="API Test" parallel="methods" thread-count="3">
        <classes>
            <class name="org.api.AppTest"/>
        </classes>
    </test>
</suite>